{% extends "/base.html" %}

{% block content %}
<div class="gradient subnavbar"></div>
<div class="container">
	<div class="row">
		<table class="table table-striped">
				<tr>
					<th>Question</th>
					<th>Number of answers</th>
				</tr>
				{% for i in range(0, trendingQuestions|length-1)%}
				<tr>
					<td><a href="/ensc-web/view/{{trendingQuestions[i].post.id}}">{{trendingQuestions[i].title}}</a></td>
					<td>{{nbResponses[i]}}</td>
				</tr>
				{% endfor %}
			</table>
	</div>
</div>
{% endblock %}