<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/ensc-web/index">AskIt.</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<form class="navbar-form navbar-left" role="search" method="POST" action="/ensc-web/searchtext">
			<div class="input-group" style="width:200px">
		      <input type="text" name="search" class="form-control" placeholder="Search...">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span> </button>
		      </span>
		    </div>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/ensc-web/explore">Explore</a></li>
				<li><a href="/ensc-web/ask">Ask</a></li>
				<li><a href="/ensc-web/search">Search</a></li>
				{% if(user != null) %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{user.login}} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/ensc-web/profile/{{user.id}}"><span class="glyphicon glyphicon-user"></span> My profile</a></li>
						<li><a href="/ensc-web/parameters"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
						<li class="divider"></li>
						<li><a href="/ensc-web/myquestions"><span class="glyphicon glyphicon-question-sign"></span> My questions</a></li>
						<li><a href="/ensc-web/starred"><span class="glyphicon glyphicon-star"></span> Followed questions</a></li>
						{% if(user.role.name=="administrator") %}
						<li class="divider"></li>
						<li><a href="/ensc-web/admin"><span class="glyphicon glyphicon-eye-open"></span> Administration</a></li>
						{% endif %}
						<li class="divider"></li>
						<li><a href="/ensc-web/disconnect"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
					</ul>
				</li>
				{% else %}
					<li><form method="post" action="/ensc-web/signin"><button class="btn btn-primary navbar-btn">Log in</button></form></li>
				{% endif %}
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav>
