{% extends "/base.html" %}

{% block content %}
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Forgotten password?</h4>
      </div>
      <form action="/ensc-web/forgottenpassword" method="post">
      <div class="modal-body">
      <p>In order to get your account back, please tell us which email adress you used.<br></p>
    <p><input type="email" class="form-control" placeholder="Email" name="email"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="gradient subnavbar"></div>
<div class="container">
<form class="form-signin" role="form"  method="POST" action="/ensc-web/log_user">
  <h2 class="form-signin-heading">Connection</h2>
    {% if erreurConnexion!=null %}
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Sorry!</strong><br/>The combination username/password is unknown for us.
  </div>
  {% endif %}
  <p>
    <input name="login" type="login" class="form-control" placeholder="Username" required autofocus>
    <input name="password" type="password" class="form-control" placeholder="Password" required>
    <input class="form-control btn btn-lg btn-primary btn-block" type="submit" value="Sign in">
  </p>
  <p><br>Forgotten password? <a data-toggle="modal" data-target="#delete_modal">Look here</a>.</p>
  <p>You don't have an account? <a href="/ensc-web/register">Register here</a>.</p>
</form>
</div> <!-- /container -->
{% endblock %}